:root {
  --primary-color: #3ea748;
  --primary-color-light: #60aa67;
  --primary-color-dark: #32863a;

  --secondary-color: #676767;
  --secondary-color-light: #f6f6f6;
  --secondary-color-dark: #676767;
  --accent-color: #e74c3c;
}
